---
layout: default
---

<a href="/" class="back-link">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <line x1="19" y1="12" x2="5" y2="12"></line>
    <polyline points="12 19 5 12 12 5"></polyline>
  </svg>
  Back to Home
</a>

<header class="page-header">
  <h1 class="page-title">{{ page.title }}</h1>
  <p class="page-description">{{ page.description }}</p>
</header>

<ul class="post-list">
  {% for post in page.posts %}
  <li class="post-item">
    <a href="{{ post.url }}" class="post-link">
      <h2 class="post-title">{{ post.title }}</h2>
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
