---
layout: default
---

<article class="article-content">
  <a href="javascript:history.back()" class="back-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
    Back
  </a>
  
  <header class="article-header">
    <h1 class="page-title">{{ page.title }}</h1>
    <time class="post-date">{{ page.date | date: "%B %d, %Y" }}</time>
  </header>
  
  <div class="article-body">
    {{ content }}
  </div>
</article>
